@use "../../node_modules/bootstrap/scss/bootstrap" as bootstrap;

/*
 Similar classes to bootstrap
 */
.mt-gd, .my-gd {
  margin-top: 60px !important;
}

.mt-g, .my-g {
  margin-top: 30px !important;
}

.mb-gd, .my-gd {
  margin-bottom: 60px !important;
}

.mb-g, .my-g {
  margin-bottom: 30px !important;
}

/*
 Text color match with background
 */
.bg-primary {
  color: white;
}
.bg-primary a {
  color: white;
}

/*
 Links
 */
a {
  &:focus {
    outline: bootstrap.$primary solid 3px;
    outline-offset: 0;
    background-color: bootstrap.$primary;
    color: white;
  }
}

/*
 Headlines
 */
h1 {
  border-bottom: bootstrap.$primary solid 5px !important;
  margin-bottom: 30px;
  margin-top: 60px;
  padding-bottom: 1rem;
}

/*
 Navbar
 */
nav {
  // Logo
  .navbar-brand {
    min-width: 60px;
    @include bootstrap.media-breakpoint-up(md) {
      min-width: 75px;
    }
    
    &:focus {
      background-color: transparent;
    }
  }
}

/*
  Footer
 */
main {
  min-height: 75.5vh; // so that the footer is always at the bottom of the screen or below
}
footer {
  a {
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
      outline-color: white;
    }
  }
}

/* Detail Page / Switch Box Components */
$transparency: 0.1;
.component {
  position: absolute;
  border: 2px solid bootstrap.$secondary;
  border-radius: 6px;
  background-color: rgba(bootstrap.$secondary, $transparency);
  transition: background-color 0.2s ease;
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.5);
  
  &:focus, &:hover {
    &:not(.selected) {
      z-index: 1;
      background-color: rgba(white, $transparency);
      border-width: 4px;
      border-color: white;
      outline-color: transparent;
      box-shadow: 0 0 11px 5px rgba(255, 255, 255, 0.5);
    }
  }
  
  &.selected {
    z-index: 1;
    background-color: transparent;
    border-color: white;
    border-style: dashed;
    border-width: 3px;
    box-shadow: 0 0 9px 4px rgba(255, 255, 255, 0.6);
  }
}