@use "bootstrap/scss/bootstrap.scss" with (
  $primary: #001b75,
  $secondary: #ffc70d,
  $font-family-base: unquote("Gantari, sans-serif"),
  $container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1140px
  )
);

@use "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@use "@fortawesome/fontawesome-free/scss/solid.scss";

@use 'fonts' as fonts;
@use 'custom' as custom;